.hero-one {
  width: 100vw;
  height: 100vh;
  background-image: url("/static/images/photo1.webp");
  position: relative;
  background-size: cover;
}
.hero-one-name {
  position: absolute;
  top: 30vh;
  font-size: 4rem;
  color: white;
  left: 25vw;
  text-transform: uppercase;
  font-family: 'Chilanka', cursive;
}

@media screen and (max-width: 450px) {
  .hero-one {
    height: 90vh;
    background-image: url("/static/images/mobile_homescreen.jpeg") ;
    background-attachment: fixed;
    position: absolute;
    background-size: contain;

  }

  .hero-one-name {
    opacity: 1;
    font-size: 2rem;
    top: 30vh;
    left: 5vw;
    width: 95vw;
  }
}