.SectionThree {
  padding-bottom: 4em;
  width: 80vw;
  margin: 0 auto;

  h2{
    text-align: center;
    font-size: $h2-heading;
  }
}


.SectionThree-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.SectionThreeCard__job {
  height: 50%;

  h3 {
    font-size: 2em;
    margin: 1em 1em 0.25em 0;
    letter-spacing: 2px;
  }
  h3,
  p {
    display: inline-block;
    margin-right: 1em;
  }
}

.SectionThreeCard__text {
  width: 70vw;
  letter-spacing: 1px;
}