.SectionThree {
  padding-bottom: 4em;
  margin-left: 2em;
  margin-right: 2em;

  h2{
    text-align: center;
    font-size: $h2-heading;
  }
}


.SectionThree-bottom {
  display: flex;
  justify-content: space-evenly;
}

.SectionThreeCard {
  border: .5px solid black;
  width: 26vw;
  padding: 1em;

  p,
  h3 {
  text-align: center;
  }
  hr {
    width: 50%;
  }
}