.SectionThree {
  padding-bottom: 4em;
  margin-left: 2em;
  margin-right: 2em;

  h2{
    text-align: center;
    font-size: $h2-heading;
  }
}


.SectionThree-bottom {
  display: flex;
  justify-content: space-evenly;
}

.SectionThreeCard {
  border: .5px solid black;
  width: 26vw;
  padding: 1em;

  p,
  h3 {
  text-align: center;
  }
  hr {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .SectionThree-bottom {
    flex-direction: column;
  }

  .SectionThree__heading {
    background: white; 
    z-index: 2;
    border-radius: 10px;
    box-shadow: 1px 1px 5px -3px;
    width: 60vw;
    position: relative;
    margin: 0 auto;

    h2 {
      padding: 10px;
    }
  }

  .SectionThreeCard {
    background: white;
    border: .5px solid black;
    width: 60vw;
    padding: 1em;
    margin: 0 auto 3em auto;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 1px 1px 5px -3px;

    p,
    h3 {
    text-align: center;
    }
    hr {
      width: 50%;
    }
  }
}