.SectionTwo {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 2em;
  padding-top: 2em;
}

.SectionTwo__title {
  text-align: center;
  font-size: 2.5em;
}

.SectionTwo-images {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  margin: 0 auto 2em auto;
  justify-items: center;
  grid-row-gap: 30px;
}

.SectionTwo__images {
  height: 80px;
}

.Projects {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto;
  flex-direction: column;
}

@media (min-width: 800px) {
  .SectionTwo {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #a9a9a9;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 5em;
    padding-top: 2em;
  }

  .SectionTwo__title {
    text-align: center;
    font-size: 2.5em;
  }

  .SectionTwo-images {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    margin: 0 auto 2em auto;
  }

  .SectionTwo__images {
    height: 80px;
  }

  .Projects {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
    flex-direction: row;

  }
}
