.About-SectionOne {
  margin-top: 5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2em;
}

.About-SectionOne-left {
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: .5em;
    font-size: $h2-heading;
    margin-bottom: .5em;
  }

  h2,
  h3,
  p {
   text-align: center;
  }

  h3 {
  font-size: 1.5em;
  }

  p {
    width: 30vw;
  }

  img {
    display: block;
    margin: 0 auto 1em auto;
    width: 20vw;
  }

  a {
    background-color: $green;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    font-size: 1.3em;
    margin-top: 1em;
  }
}

.About-SectionOne-right {
  align-self: flex-start;
  margin-top: 5em;

  img {
    height: 50vh;
  }
}

@media (max-width: 450px) {
  .About-SectionOne {
    flex-direction: column;
    margin-bottom: unset;

  }


  .About-SectionOne-left {
    width: 100vw;

    p {
      width: 80vw;
    }

    img {
      width: 70vw;
    }

  }

  .About-SectionOne-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    img {
      width: 100vw;
      height: unset;
    }
  }
}