.TechCard {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.TechCard-ind {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    text-align: center;
  }

  img {
    margin-bottom: 1em;
    margin-top: 1em;
    width: 8vw;
  }
}