.TechCard {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.TechCard-ind {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    text-align: center;
  }

  img {
    margin-bottom: 1em;
    margin-top: 1em;
    height: 10vh;
  }
}

@media (max-width: 450px) {
  .TechCard {
    flex-direction: column;
  }

  .TechCard-ind {
    h3 {
      text-align: center;
    }
  
    img {
      height: 15vh;
      width: unset;
    }
  }
}