.Tools {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.TechCard {
  width: 20vw;
  display: flex;
  flex-direction: column;
}
.TechCard img,
.TechCard h3, 
.TechCard p {
  margin: 0 auto 1em auto;
}

.TechCard p {
  text-align: center;
}

.TechCard img {
  width: 40%;
}