.Tools {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.TechCard {
  width: 20vw;
  display: flex;
  flex-direction: column;

  img,
  h3,
  p {
    margin: 0 auto 1em auto;
  }

  p {
    text-align: center;
  }

  img {
    margin-top: 1em;
    width: 40%;
  }
}