.SectionOne {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $off-white;
  padding-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.SectionOne-top {
  display: flex;
  flex-direction: column;
  text-align: center;

  h2 {
    font-size: 2.5em;
  }

  p{
    width: 50%;
    margin: 0 auto 2em auto;
    font-size: 1.1em;
  }
}

.SectionOne-bottom {
  display: flex;
  justify-content: space-evenly;
  margin-left: 2em;
  margin-right: 2em;
}

.HomePageCard {
  display: flex;
  width: 20vw;

  img {
    width: 60px;
    height: 50px;
    align-self: flex-start;
    margin-top: 1em;
    margin-right: 1em;
  }
}