html, body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 1.5em 0 1em 0;
  width: 100vw;
}

.header-links {
  text-decoration: none;
  color: $green;
  font-size: 1.7em;
  padding-left: 2em;
  padding-right: 2em;
  transition: color .5s;
  border-bottom: none;
  font-weight: 500;

  &:hover {
    color: black;
  }
}

.sticky {
  position: fixed;
  animation: transitionBar;
  animation-duration: 1s;
  animation-delay: 0.1s; 
  animation-fill-mode: forwards;
  width: 100%;
  z-index: 1000;
}

@keyframes transitionBar{
  0%{background-color: transparent;}
  100%{background-color:black; }
}

.header__hamburgericon {
  display: none;
  position: sticky;

}

@media ( max-width:450px ) {
  .header__hamburgericon {
    display: inline-block;
    margin-left: 5vw;
  }

  .header__navbar {
    display: none;
  }

  .header__hamburgericon--bars {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
}