html, body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  position: absolute;
  top: 4vh;
  left: .5vw;
  z-index: 1000;
}

.header-links {
  text-decoration: none;
  color: #A9A9A9;
  font-size: 1.7em;
  padding-left: 2em;
  padding-right: 2em;
  transition: color 1s;
  border-bottom: none;
}

.header-links:hover {
  color: #5d8950;
}

.header-links-one,
.header-links-two,
.header-links-three {
  border-right: 2px solid #A9A9A9;
}